@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: black;
}

.loader-container {
  width: 700px;
  height: 100px;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.5s;
  user-select: none;
}

.element-loader {
  filter: drop-shadow(0 -500px 0 #2c2b30);
}

.loader-container::after {
  content: "";
  position: absolute;
  height: 100px;
  background: url("https://yuanshen.site/imgs/loading-bar.png") no-repeat left
    100%;
  background-size: 700px 100px;
  animation: load 3.5s linear infinite forwards;
}

@media (max-width: 500px) {
  .loader-container {
    width: 450px;
    height: 62.5px;
    top: 40%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  .element-loader {
    height: 62.5px;
  }

  .loader-container::after {
    content: "";
    position: absolute;
    height: 62.5px;
    background: url("https://yuanshen.site/imgs/loading-bar.png") no-repeat left
      100%;
    background-size: 450px 62.5px;
    animation: phone-load 3.5s linear infinite forwards;
  }
}

@keyframes load {
  0% {
    width: 0;
    background-size: 700px 100px;
  }

  16.6% {
  }

  33.2% {
  }

  49.8% {
  }

  66.4% {
  }

  83% {
  }

  100% {
    width: 700px;
  }
}

@keyframes phone-load {
  0% {
    width: 0;
    background-size: 450px 62.5px;
  }

  16.6% {
  }

  33.2% {
  }

  49.8% {
  }

  66.4% {
  }

  83% {
  }

  100% {
    width: 450px;
  }
}

.loader-overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.loader-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#logo:hover {
  transform: scale(1.01);
  text-shadow: 0 0 5px #ffff80;
}

.social-blue,
.social-purple {
  display: inline-block;
  position: relative;
  color: rgb(107 114 128);
}

.social-blue::before,
.social-purple::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s ease-out;
}

.social-blue::before {
  background-color: #60a5fa;
}

.social-purple::before {
  background-color: #6b21a8;
}

.social-purple:hover {
  box-shadow: 0 0 5px #6b21a8;
  color: #6b21a8;
}
.social-blue:hover {
  box-shadow: 0 0 5px #60a5fa;
  color: #60a5fa;
}

.social-blue:hover::before,
.social-purple:hover::before {
  width: 100%;
}

#pic-container #picture {
  position: relative;
}

#pic-container #picture::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: all 0.8s ease;
}

#pic-container #picture::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.8s ease;
}

#pic-container:hover #picture::after,
#pic-container:hover #picture::before {
  border-color: rgb(96 165 250);
  height: 100%;
  width: 100%;
}

#btn {
  border-radius: 9999px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
}

.btn-white {
  border: 2px solid white;
  color: white;
}

.btn-blue {
  border: 2px solid #60a5fa;
  color: #60a5fa;
}

.btn-litepurple {
  border: 2px solid #8b74bd;
  color: #8b74bd;
}

.btn-purple {
  border: 2px solid #6b21a8;
  color: #6b21a8;
}

.btn-white:hover {
  border-color: rgb(107 114 128);
  background-color: rgb(107 114 128);
  box-shadow: 0 0 5px rgb(107 114 128);
  text-shadow: 0 0 5px white;
}

.btn-blue:hover {
  color: white;
  background-color: #60a5fa;
  box-shadow: 0 0 5px #60a5fa;
  text-shadow: 0 0 5px white;
}

.btn-litepurple:hover {
  color: white;
  background-color: #8b74bd;
  box-shadow: 0 0 5px #8b74bd;
  text-shadow: 0 0 5px white;
}

.btn-purple:hover {
  color: white;
  background-color: #6b21a8;
  box-shadow: 0 0 5px #6b21a8;
  text-shadow: 0 0 5px white;
}

.league a {
  color: #c9aa71;
}

.genshin-shadow {
  box-shadow: 0 0 0 2px #fffdfa, 0 2px 4px 4px rgba(0, 0, 0, 0.05);
}

.diamond-icon {
  position: relative;
}

.diamond-icon::after {
  content: "";
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  background: #c2ab77;
  border: 1px solid #f2ede3;
  box-shadow: 0 0 0 4px #c2ab77, 0 4px 8px 8px rgba(0, 0, 0, 0.05);
  transform: rotate(45deg);
  transform-origin: center;
}

#summ {
  background-color: #1c1e21;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

.prevent-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
